# Vim files
*.sw[op]

# Built packages
/site-root/debian
/site-root/example

# Tempfiles for building packages
/resources
/builders/*/out
/builders/*/tmp

# GPG-related files
/site-root/mm4cc.gpg
/indexer/.*
